<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/application.scss">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <nav class="navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1  nav nav-pills">
            <a href= "/" class="blue-ivy">Home</a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">

          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 nav nav-pills">
            <a href= "/about" class="blue-ivy">About</a>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 nav nav-pills">
            <a href= "/thekoopmankode" class="blue-ivy">Blog</a>
          </div>
          <div class="nav_bar_sign", style="float:right">
            <% if session[:admin_id] %>
              <a href= "/logout" class="blue-ivy"> <span class="glyphicon glyphicon-log-out"></span></a>
            <% else %>
              <a href= "/login" class="blue-ivy"> <span class="glyphicon glyphicon-log-in"></span></a>
            <% end%>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid double-pad-top">
      <div class="row quad-pad-top">
        <% if session[:admin_id] %>
          <div class="col-xs-1 col-sm-1 col-md-1">
              <%= link_to "Admin", admin_path(session[:admin_id]), method: :get, :class => 'blue-ivy' %>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2" align="center">
            <a href= "/posts/new" class="blue-ivy" >New Post</a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <a href= "/categories/new" class="blue-ivy" >New Category</a>
          </div>
        <% end %>
      </div>
    </div>

      <div class="row">
        <div class="center-vert col-xs-12 col-sm-12 col-md-12" align="center">
          <h2>Thank you for your message! I'll get back to you as soon as I can.</h2>

          <% flash.each do |key, value| %>
            <div>
              <a href="/" class="blue-ivy icon-size"><%= value %></a>

            </div>
          <% end %>
        </div>
      </div>

    <nav class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 double-pad-top">
            <h6>www.raoulkoopman.com<span class="glyphicon glyphicon-tree-conifer"></span>2016</h6>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 half-pad-top half-pad-bottom">
            <div id="email-button"><a href= "/contact" class="" ><span class="glyphicon glyphicon-envelope email-glyph"></span></a></div>
          </div>

        </div>
      </div>
    </nav>
  </body>
</html>
