
.pad-top {
  padding-top: 10px
}

.pad-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.super-pad-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}

.super-pad-top {
  padding-top: 100px
}

.pad-left-right {
  padding-left: 30px;
  padding-right: 30px;
}

.nil-pad-left {
  padding-left: 0px
}

.nil-pad-right {
  padding-right: 0px
}

.pad-bottom {
  padding-bottom: 10px
}

.quad-pad-bottom {
  padding-bottom: 45px;
}

.home-pad-bottom {
  padding-bottom: 100px;
}

.half-pad-bottom {
  padding-bottom: 5px;
}

.half-pad-top {
  padding-top: 5px;
}

.double-pad-top {
  padding-top: 20px;
}

.doublish-pad-top {
  padding-top: 25px;
}

.triple-pad-top {
  padding-top: 30px
}

.quad-pad-top {
  padding-top: 40px;
}

.min-pad-top {
  padding-top: 1px
}

.pad-left {
  padding-left: 10px
}

.pad-right {
  padding-right: 10px
}

.icon-size {
  font-size: 40px;
}

.half-icon-size {
  font-size: 20px;
}

.blue-ivy {
  color: #3090C7;
  font-size: 24px;
}

.opacity {
  opacity: 0.7;
}

.banner-text {
  color: #3090C7;
  font-size: 24px;
}
